body {
  background-color: #28AFB0;
}

.full-width {
  width: 100%;
}

h1#title {
  color: #19647E;
  margin-top: 15px;
  margin-bottom: 15px;
}

#text {
  margin-bottom: 25px;
  text-align: center;
}

#table {
  background-color: whitesmoke;
}

#center {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -50px;
}

#p-row {
  text-align: center;
}
