body {
  background-color: #28AFB0;
}

.full-width {
  width: 100%;
}

h1#title {
  color: #19647E;
  margin-bottom: 15px;
}

#text {
  margin-bottom: 25px;
  text-align: center;
}

#table {
  background-color: whitesmoke;
}
